<a href="/">home</a>
<h1>Here is yer fuckin article</h1>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<%= link_to 'Improve', edit_article_path(@article) %>
<%= link_to 'Somewhere else', articles_path %>
