<h1>SUB HUMAN</h1>
<p>Which came first: ramch, or cool ranch?</p>
<ul>
  <li>
    <%= link_to 'Articles n shit', controller: 'articles' %>
  </li>
</ul>

<hr>
<h2>Admin shit</h2>
<ul>
  <li>
    <%= link_to 'If you wanna make a new aritcle do it here', new_article_path  %>
  </li>
</ul>
